<a href="{{ socialUrl }}"
    {% if class is defined and class %}class="{{ class }}"{% endif %}
    {% if image is defined and image %}style="background: url({{ image }}) no-repeat;"{% endif %}
    {% if target is defined and target %} target="{{ target }}"{% endif %}></a>
